[Desktop Entry]
Name=The Butterfly Effect
GenericName=Physics game
Comment=Physics-based puzzle game
Exec=%TBE%/bin/tbe
Icon=%TBE%/images/TheButterflyEffect-icon.ico
Terminal=false
Type=Application
Categories=Game;LogicGame;
