[Desktop Entry]
Name=The Butterfly Effect
GenericName=Physics game
Comment=Physics-based puzzle game
Exec=tbe
Icon=tbe
Type=Application
Categories=Game;LogicGame;

# Translations
Comment[be]=Гульня-галаваломка, заснаваная на фізіцы
GenericName[be]=Гульня, заснаваная на фізіцы
Name[be]=Эфект матылька
Icon[be]=tbe
Comment[cs]=Logická hra založená na fyzice
GenericName[cs]=Fyzikálně založená hra
Name[cs]=Efekt motýlího křídla
Icon[cs]=tbe
Comment[da]=Fysikbaseret puslespil
GenericName[da]=Fysikspil
Name[da]=Sommerfugleeffekten
Icon[da]=tbe
Comment[de]=Physikbasiertes Knobelspiel
GenericName[de]=Physikspiel
Name[de]=Der Schmetterlingseffekt
Icon[de]=tbe
Comment[es]=Videojuego basado en puzzles de físicas
GenericName[es]=Videojuego de físicas
Name[es]=El Efecto Mariposa
Icon[es]=tbe
Comment[et]=Füüsikal põhinev pusle
GenericName[et]=Füüsika mäng
Name[et]=Liblika Efekt
Icon[et]=tbe
Comment[fr]=Jeu de puzzle sur la physique
GenericName[fr]=Jeu de physique
Name[fr]=The Butterfly Effect
Icon[fr]=tbe
Comment[gl]=Crebacabezas baseado na física
GenericName[gl]=Xogo de física
Name[gl]=O efecto bolboreta
Icon[gl]=tbe
Comment[is]=Eðlisfræðilegur þrautaleikur
GenericName[is]=Eðlisfræðileikur
Name[is]=Fiðrildaáhrifin
Icon[is]=tbe
Comment[it]=Un puzzle basato sulla fisica
GenericName[it]=Videogioco basato sulla fisica
Name[it]=Effetto farfalla
Icon[it]=tbe
Comment[lt]=Fizika pagrįstas galvosūkio žaidimas
GenericName[lt]=Fizikos žaidimas
Name[lt]=Drugelio efektas
Icon[lt]=tbe
Comment[ms]=Permainan teka-teki berasaskan-fizik
GenericName[ms]=Permainan fizik
Name[ms]=Kesan Rama-Rama
Icon[ms]=tbe
Comment[nl]=Computerpuzzelspel gebaseerd op natuurkundige principes
GenericName[nl]=Natuurkundespel
Name[nl]=Het Vlindereffect
Icon[nl]=tbe
Comment[es_419]=Juego de rompecabezas basado en la Física.
GenericName[es_419]=Juego de física 
Name[es_419]=El efecto mariposa
Icon[es_419]=tbe
Comment[pl]=Gra logiczna oparta na fizyce
GenericName[pl]=Gra oparta na fizyce
Name[pl]=Efekt motyla
Icon[pl]=tbe
Comment[ru]=Игра-головоломка, основанная на физике
GenericName[ru]=Физическая игра
Name[ru]=Эффект бабочки
Icon[ru]=tbe
Comment[sk]=Hlavolam založený na fyzikálnych zákonoch
GenericName[sk]=Hra založená na fyzikálnych zákonoch
Name[sk]=The Butterfly Effect - Motýlí efekt
Icon[sk]=tbe
Comment[sr]=Игра слагалица заснована на физици
GenericName[sr]=Игра из физике
Name[sr]=Дејство лептира
Icon[sr]=tbe
Comment[sv]=Fysikbaserat problemlösarspel
GenericName[sv]=Fysikspel
Name[sv]=The Butterfly Effect
Icon[sv]=tbe
Comment[ta]=இயற்பியல் அடிப்படையில் புதிர் விளையாட்டு
GenericName[ta]=இயற்பியல் விளையாட்டு
Name[ta]=வண்ணத்துப்பூச்சி விளைவு
Icon[ta]=tbe
Comment[tr]=Fizik temelli bulmaca
GenericName[tr]=Fizik oyunu
Name[tr]=The Butterfly Effect
Icon[tr]=tbe
Comment[uk]=Гра-головоломка, заснована на фізиці
GenericName[uk]=Фізична гра
Name[uk]=Ефект метелика
Icon[uk]=tbe
Comment[zh_CN]=基于物理的解谜游戏
GenericName[zh_CN]=物理游戏
Name[zh_CN]=蝴蝶效应
Icon[zh_CN]=tbe
Comment[ast]=Xuegu de rompecabeces basáu na Física
GenericName[ast]=Xuegu de  Física
Name[ast]=L'Efeutu Caparina
Icon[ast]=tbe
Comment[nb_NO]=Fysikk-basert puslespill
GenericName[nb_NO]=Fysikkspill
Name[nb_NO]=Sommerfugleffekten
Icon[nb_NO]=tbe
GenericName[fo]=Alisfrøðis leikur
Icon[fo]=tbe
Comment[pt_PT]=Jogo quebra-cabeça baseado na física
GenericName[pt_PT]=Jogo de física
Name[pt_PT]=O Efeito Borboleta
Icon[pt_PT]=tbe
